<!DOCTYPE html>
<html>
<head>
  <title>The Trendiest of Restaurants</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="styles/vendor/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/svwp_style.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>

  <div class="container">



  <aside>Sidebar
      <!-- Scrolling Menu news -->
      <div class"menunews"> <h3>News</h3>
        <div style="height:135px;width:160px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">

        <div class="news">
          <script type="text/template" id="newsTemplate">
          <div>
             <p><%= title %><%= post %></p>
          </div>
          </script>
            </div>

          </div>
          </div>

      <!-- Menu Special -->
      <div class="special"></div>


      <div class="gmap">Our location

      <iframe width="160" height="156" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=3734%20Elvis%20Presley%20Blvd%2C%20Memphis%2C%20TN%2038116&key=AIzaSyCuLGTB7wksJsHHNPl7ROzf-r3VvgXobmc"></iframe>

        <div class="locinfo">Address: 3734 Elvis Presley Blvd, Memphis, TN</div>
      <div class="locph">555.007.5555 email: trendy@tiy.com</div>

    </div>
  <!--   this is the end of gmap div -->





  </aside>

  <div class="wrapper">





    <header>

    <div class="logo">
    <ul>
      <li class="textA">A  </li>
      <li class="textReally">Really  </li>
      <li class="textTrendy">Trendy  </li>
      <li class="textRestaurant">Restaurant</li>

      <img class="logoImage" src="images/knifeandfork.png">

    <div class="socialicons">
      <button class="zocial-twitter"></button>
      <button class="zocial-instagram"></button>
      <button class="zocial-facebook"></button>
   </div>



    </header>
    <!-- this is the end of the header div-->
    <div id="basic" class="svwp">

        <ul class="foodPics">

        </ul>

    </div><!--this is the end of the svwp div
    <!- -Script for the Food Pics from Flickr-->
    <script type="template" id="foodTemplate">
      <li>
        <img src="<%= url_m %>" width="500" height="300">
      </li>
    </script>














  <!--   JOE TAB BOX BUILD MAY 27 -->

    <div class="tabBoxWrapper">


      <ul class="tabBox">
        <li class="tabBtns"><a href="#Menu"  class = "tabTitle tabTitleMenu selected">Menu</a></li>
        <li class="tabBtns"><a href="#Story" class = "tabTitle tabTitleStory">Our Story</a></li>
        <li class="tabBtns"><a href="#History" class = "tabTitle tabTitleHistory">Restaurant History</a></li>
        <li class="tabBtns"><a href="#Drinks" class = "tabTitle tabTitleDrinks">Drinks</a></li>

      </ul>

      <div class="tabContent" id="about">

        <div id = "menuBox">

          <div id ="menu-tab">

            <div class="innerTabsWrapper">

              <ul class="menuTabBox">
                <li class="menuButtons tabTitleApps sel"><a href="#Apps"  class = "menuTabTitle">Appetizers</a></li>
                <li class="menuButtons tabTitleEntrees"><a href="#Entrees" class = "menuTabTitle ">Entrees</a></li>
                <li class="menuButtons tabTitleSides"><a href="#Sides" class = "menuTabTitle ">Sides</a></li>
              </ul>

              <div class="menuContent">
                <div id = "menuBox">
                  <div id="apps-tab"> </div>
                  <div id ="entrees-tab" class = "menuHide"></div>
                  <div id="sides-tab" class = "menuHide"></div>
                </div> <!-- END MENUBOX -->
              </div> <!-- END MENUCONTENT -->

              </div> <!-- END INNER WRAPPER -->

          </div> <!-- END MENU-TAB ID -->

          <p id ="story-tab" class = "hide">Ricotta rubber cheese cheeseburger. Hard cheese jarlsberg blue castello halloumi caerphilly hard cheese blue castello brie. Gouda ricotta monterey jack cut the cheese st. agur blue cheese cheesy feet smelly cheese cottage cheese. Monterey jack.</p>
          <p id="history-tab" class = "hide">Ricotta edam paneer. Bavarian bergkase fromage cheese on toast pecorino cut the cheese smelly cheese danish fontina blue castello. Camembert de normandie when the cheese comes out everybody's happy everyone loves port-salut cream cheese cheesecake stinking bishop cheese strings. St. agur blue cheese jarlsberg parmesan parmesan.</p>
          <p id="drinks-tab" class = "hide">Blue castello stinking bishop croque monsieur. Hard cheese cheese strings cheese and wine who moved my cheese babybel manchego hard cheese emmental. Queso monterey jack stinking bishop mascarpone cheddar smelly cheese airedale the big cheese. Cheeseburger croque monsieur manchego stilton hard cheese cheese and biscuits mascarpone cheesy feet. Port-salut cheddar swiss bavarian bergkase.</p>
        </div><!-- this is the end of the menuBox div-->
      </div><!-- this is the end of the tabContent div -->


    </div><!-- this is the end of the tabBoxWrapper-->


  <!-- END TAB BOX -->






  </div><!--this is the end of the wrapper div-->


  </div><!--this is the end of the container div-->




<!-- SCRIPT FOR APPETIZERS -->
  <script type="template" id="app-template">
       <div>
         <span><%= item %></span>
         <span><%= price %></span>
         <p><%= description %></p>
       </div>
  </script><!-- END APP SCRIPT -->

<!-- SCRIPT FOR ENTREES -->
    <script type="template" id="entree-template">
       <div>
         <span><%= item %></span>
         <span><%= price %></span>
         <p><%= description %></p>
       </div>
  </script><!-- END ENTREE SCRIPT -->

<!-- SCRIPT FOR SIDES -->
    <script type="template" id="side-template">
       <div>
         <span><%= item %></span>
         <span><%= price %></span>
         <p><%= description %></p>
       </div>
  </script><!-- END SIDE SCRIPT -->

  <script src="scripts/vendor/jquery.min.js"></script>
  <script src="scripts/vendor/underscore.min.js"></script>
  <script src="scripts/vendor/slideViewerPro.1.0.js"></script>
  <script src="scripts/main.js"></script>

</body>
</html>
