<<<<<<< HEAD
@import url(http://weloveiconfonts.com/api/?family=zocial);
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif; }

*{
  @include outer-container();
}

aside{
  @include span-columns(2);
  background-color: orange;
  display: block;
  height: 1000px;
  float: left;
}

.wrapper{
  @include span-columns(10);
  height: 100px;
}
=======
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

*::after {
  clear: both;
  content: "";
  display: table; }

aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  background-color: orange;
  display: block;
  height: 1000px;
  float: left; }

aside:last-child {
  margin-right: 0; }

.wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  height: 100px; }

.wrapper:last-child {
  margin-right: 0; }
>>>>>>> 60a3095bf77b3d11f2f6e72992b5449822b76852

header {
  width: 100%;
  height: 120px;
  background-color: orange;
<<<<<<< HEAD
  display: inline-block;
}

.socialicons {
  margin-left: 10px;
  }

.zocial-twitter {
  font-size: 30px;
  border-right: 3px solid black;
  background-color: lightskyblue;
  border: 3px solid black;
  width: 4%;
  height: 45px;
  margin-right: 2px; }

.zocial-instagram {
  font-size: 30px;
  border: 3px solid black;
  margin-top: 2px;
  background-color: #663300;
  padding-right: 4px;
  padding-left: 3px;
  margin: 0;
  height:46px;
}


.zocial-facebook {
  font-size: 30px;
  width: 47px;
  border: 3px solid black;
  margin-top: 2px;
  background-color: #3b5998;
  padding-right: 4px;
  padding-left: 3px;
  margin: 0; }

=======
  display: inline-block; }
>>>>>>> 60a3095bf77b3d11f2f6e72992b5449822b76852

.picScroll {
  width: 100%;
  height: 150px;
  background-color: gold;
<<<<<<< HEAD
  margin: 1px;

}

.picScroll {
  width: 100%;
  height: 150px;
  background-color: gold;
  margin: 1px;

}

.restaurantScene{
=======
  margin: 1px; }

.tabBoxWrapper {
  width: 63%;
  height: 400px;
  background-color: yellow;
  margin: 1px;
  display: block;
  float: left; }

.tabBoxWrapper .tabBox {
  list-style-type: none;
  margin: 30px 0 0 0;
  padding: 0 0 0.3em 0;
  display: block;
  width: 350px;
  height: 22px; }

.tabBoxWrapper .tabBtns {
  display: inline-block;
  width: auto;
  margin: 0.25px; }

.tabBoxWrapper .tabTitle {
  text-decoration: none;
  color: #42454a;
  background-color: #dedbde;
  border: solid 1px #c9c3ba;
  border-bottom: none;
  padding: 0.3em; }

.tabBoxWrapper .tabTitle:hover {
  background-color: #f1f0ee; }

.tabBoxWrapper .selected {
  color: #000;
  background-color: #f1f0ee;
  font-weight: bold;
  padding: 0.7em 0.3em 0.38em 0.3em; }

.tabBoxWrapper .tabContent {
  border: 1px solid #c9c3ba;
  padding: 0.5em;
  background-color: #f1f0ee;
  width: 570px;
  height: 300px; }

.tabBoxWrapper .hide {
  display: none; }

.restaurantScene {
>>>>>>> 60a3095bf77b3d11f2f6e72992b5449822b76852
  width: 33%;
  height: 200px;
  background-color: yellow;
  margin: 1px;
  display: inline-block;
<<<<<<< HEAD
  float: right;
}
=======
  float: right; }
>>>>>>> 60a3095bf77b3d11f2f6e72992b5449822b76852
