@import url(http://weloveiconfonts.com/api/?family=zocial);
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif; }

* {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

*::after {
  clear: both;
  content: "";
  display: inline-block; }

body {
  background-color: #7F381B; }

aside {
  background-color: #FD7140;
  display: block;
  height: 1000px;
  border: 1px solid black;
  border-radius: 5px;
  float: left;
  font-family: "Amatic SC", cursive;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }

aside:last-child {
  margin-right: 0; }

h3 {
  padding-left: 5px;
  font-size: 30px; }

.sidebar {
  font-size: 37px;
  text-align: center; }

.news {
  height: 240px;
  width: 175px;
  font-size: 20px; }

.aline {
  width: 90%;
  height: 1px;
  background: #CBCBCB;
  margin-left: 12px;
  margin-top: 4px;
  margin-bottom: -21px; }

.special {
  height: 283px;
  width: 251px;
  display: inline-block;
  font-size: 20px;
  padding-left: 5px; }

.gmap {
  width: 100%; }

.locinfo {
  font-size: 22px;
  text-align: center;
  font-weight: bold; }

.locph {
  font-size: 20px;
  margin-left: 4px;
  text-align: center;
  font-weight: bold; }

.wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  height: auto; }

.wrapper:last-child {
  margin-right: 0; }

header {
  width: 100%;
  height: 162px;
  background-color: #BD5430;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block; }

.logo {
  font-family: "Amatic SC", cursive;
  color: black;
  margin-top: 33px; }

.logo ul {
  list-style: none;
  display: inline; }

.logo li {
  display: inline-flex; }

.logo .textA {
  font-size: 3.4em;
  margin-right: 8px; }

.logo .textReally {
  font-size: 2.8em;
  border-top: 1px solid black;
  margin-right: 8px; }

.logo .textTrendy {
  font-size: 2.4em;
  border-top: 1px solid black;
  margin-right: 8px; }

.logo .textRestaurant {
  font-size: 2em;
  border-top: 1px solid black; }

.logo img {
  width: 40px;
  height: 40px; }

.zocial-twitter {
  font-size: 30px;
  border-right: 3px solid black;
  background-color: lightskyblue;
  border: 3px solid black;
  width: 4%;
  height: 45px;
  margin-right: 2px; }

.zocial-instagram {
  font-size: 30px;
  border: 3px solid black;
  margin-top: 2px;
  background-color: #663300;
  padding-right: 4px;
  padding-left: 3px;
  margin: 0;
  height: 46px; }

.zocial-facebook {
  font-size: 30px;
  width: 47px;
  border: 3px solid black;
  margin-top: 2px;
  background-color: #3b5998;
  padding-right: 4px;
  padding-left: 3px;
  margin: 0; }

.tabs {
  width: 63%;
  height: 200px;
  background-color: #FD7140;
  margin: 1px;
  display: inline-block;
  float: left; }

.tabBoxWrapper {
  width: 100%;
  height: 600px;
  background-color: #3F1B0E;
  margin: 1px;
  display: block;
  float: left; }

.tabBoxWrapper .tabBox {
  list-style-type: none;
  margin: 30px 0 0 0;
  padding: 0 0 0.3em 0;
  display: block;
  width: 100%;
  height: 22px; }

.tabBoxWrapper .tabBox::after {
  display: none; }

.tabBoxWrapper .tabBtns {
  display: inline-block;
  width: auto;
  margin: 0.25px; }

.tabBoxWrapper .tabTitle {
  text-decoration: none;
  color: #42454a;
  background-color: #FD7140;
  border: solid 1px black;
  border-bottom: none;
  padding: 0.3em;
  width: 100%; }

.tabBoxWrapper .tabTitle:hover {
  background-color: #7F381B; }

.tabBoxWrapper .selected {
  color: black;
  background-color: #FD7140;
  font-weight: bold;
  padding: 0.7em 0.3em 0.38em 0.3em; }

.tabBoxWrapper .tabContent {
  border: 1px solid black;
  padding: 0.5em;
  background-color: #FD7140;
  width: 100%;
  height: 500px;
  margin-left: 10px; }

.tabBoxWrapper .hide {
  display: none; }

.innerTabsWrapper {
  width: 570px;
  height: 500px; }

.menuTabBox {
  display: block;
  margin-top: 0;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  width: 135px;
  height: auto;
  float: left; }

.menuButtons {
  display: block;
  margin: 3px 0 3px 0;
  background-color: #BD5430;
  padding: 4px 0 3px 0;
  border-left: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.menuButtons:hover {
  background-color: #3F1B0E; }

.menuTabTitle {
  color: #E1E3DF;
  text-decoration: none;
  width: 115px;
  height: 30px;
  display: block; }

.sel {
  background-color: #BD5430;
  padding: 4px 0 5px 2px;
  font-weight: bold; }

.menuContent {
  display: inline-block;
  clear: both;
  float: middle;
  width: 400px;
  height: 500px;
  background-color: #BD5430;
  margin-top: 3px;
  border-top: solid 1px black; }

.menuHide {
  display: none; }

#story-tab {
  font-family: "Amatic SC", cursive;
  font-size: 22px; }

footer {
  width: 72%;
  height: 106px;
  background-color: #BD5430;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  margin-left: 142px;
  float: right; }

footer h5 {
  margin-top: -3px;
  font-family: "Amatic SC", cursive;
  font-size: 30px; }

footer .thefoot {
  font-size: 14px;
  margin-top: -33px;
  margin-left: 65px; }

footer .thefoot a {
  background-color: transparent;
  text-decoration: none;
  color: #2b322b; }

footer .logofoot {
  font-size: 1px;
  margin-right: 43px;
  margin-top: -52px; }

footer h1 {
  font-size: 10px;
  margin-top: -6px;
  float: right;
  font-style: italic; }
