@import url(http://weloveiconfonts.com/api/?family=zocial);
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif; }

* {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

*::after {
  clear: both;
  content: "";
  display: inline-block; }

body {
  background-color: #7F381B; }

aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: #FD7140;
  display: block;
  height: 1000px;
  border: 1px solid black;
  border-radius: 5px;
  float: left; }

aside:last-child {
  margin-right: 0; }

.news {
  background-color: grey;
  font-size: 12px;
  height: 156px;
  width: 160px; }

.special {
  background-color: beige;
  font-size: 12px; }

.gmap {
  width: 100%;
  background-color: lightgrey; }

.locinfo {
  font-size: 10px; }

.locph {
  font-size: 10px; }

.wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }

.wrapper:last-child {
  margin-right: 0; }

header {
  width: 100%;
  height: 162px;
  background-color: #BD5430;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block; }

.logo {
  font-family: "Amatic SC", cursive;
  color: black;
  margin-top: 33px; }

.logo ul {
  list-style: none;
  display: inline; }

.logo li {
  display: inline-flex; }

.logo .textA {
  font-size: 3.4em;
  margin-right: 8px; }

.logo .textReally {
  font-size: 2.8em;
  border-top: 1px solid black;
  margin-right: 8px; }

.logo .textTrendy {
  font-size: 2.4em;
  border-top: 1px solid black;
  margin-right: 8px; }

.logo .textRestaurant {
  font-size: 2em;
  border-top: 1px solid black; }

.logo img {
  width: 40px;
  height: 40px; }

.zocial-twitter {
  font-size: 30px;
  border-right: 3px solid black;
  background-color: lightskyblue;
  border: 3px solid black;
  width: 4%;
  height: 45px;
  margin-right: 2px; }

.zocial-instagram {
  font-size: 30px;
  border: 3px solid black;
  margin-top: 2px;
  background-color: #663300;
  padding-right: 4px;
  padding-left: 3px;
  margin: 0;
  height: 46px; }

.zocial-facebook {
  font-size: 30px;
  width: 47px;
  border: 3px solid black;
  margin-top: 2px;
  background-color: #3b5998;
  padding-right: 4px;
  padding-left: 3px;
  margin: 0; }

.tabs {
  width: 63%;
  height: 200px;
  background-color: #FD7140;
  margin: 1px;
  display: inline-block;
  float: left; }

.tabBoxWrapper {
  width: 100%;
  height: 780px;
  background-color: #3F1B0E;
  margin: 1px;
  display: block;
  float: left; }

.tabBoxWrapper .tabBox {
  list-style-type: none;
  margin: 30px 10px 0 10px;
  padding: 0 0 0.3em 0;
  display: block;
  width: 100%;
  height: 22px; }

.tabBoxWrapper .tabBox::after {
  display: none; }

.tabBoxWrapper .tabBtns {
  display: inline-block;
  width: auto;
  margin: 0.25px; }

.tabBoxWrapper .tabTitle {
  text-decoration: none;
  color: #42454a;
  background-color: #FD7140;
  border: solid 1px black;
  border-bottom: none;
  padding: 0.3em;
  width: 100%; }

.tabBoxWrapper .tabTitle:hover {
  background-color: #7F381B; }

.tabBoxWrapper .selected {
  color: black;
  background-color: #FD7140;
  font-weight: bold;
  padding: 0.7em 0.3em 0.38em 0.3em; }

.tabBoxWrapper .tabContent {
  border: 1px solid black;
  padding: 0.5em;
  background-color: #FD7140;
  width: 790px;
  height: 714px;
  margin-left: 10px; }

.tabBoxWrapper .hide {
  display: none; }

.innerTabsWrapper {
  height: 500px; }

.appWrapper {
  width: auto;
  height: auto; }

.menuTabBox {
  display: block;
  margin-top: 0;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  width: 135px;
  height: auto;
  float: left; }

.menuButtons {
  display: block;
  margin: 3px 0 3px 0;
  background-color: #BD5430;
  padding: 4px 0 3px 0;
  border-left: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.menuButtons:hover {
  background-color: #3F1B0E; }

.menuTabTitle {
  color: #E1E3DF;
  text-decoration: none;
  width: 115px;
  height: 30px;
  display: block; }

.sel {
  background-color: #BD5430;
  padding: 4px 0 5px 2px;
  font-weight: bold; }

.menuContent {
  display: inline-block;
  clear: both;
  float: middle;
  width: 637px;
  height: 687px;
  background-color: #BD5430;
  margin-top: 3px;
  border-top: solid 1px black; }

.menuHide {
  display: none; }

.alertBoxWrap {
  display: block;
  margin-top: 0;
  width: 640px;
  height: 30px; }

.alertBox {
  width: 20px;
  height: 20px;
  background-color: white;
  float: right;
  margin: 6px 5px 0 5px;
  border-radius: 3px;
  border: solid 1px #7F381B;
  position: relative; }

.alertBox:hover {
  border: solid 1px #3F1B0E; }

.veganIconImg {
  width: 18px;
  height: 18px;
  border-radius: 3px; }

.favIconImg {
  width: 20px;
  height: 20px; }

.spicyIconImg {
  width: 18px;
  height: 18px; }

.allergyIconImg {
  width: 18px;
  height: 18px; }

.popBox {
  width: 175px;
  height: 45px;
  background-color: white;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 25px 0 0 0;
  border: solid 1px #39889D;
  border-radius: 3px; }

.dimmedAlertBox {
  opacity: 0.2; }

.appz {
  width: 640px;
  height: 122px; }

.entreez {
  width: 640px;
  height: 65px; }

.sidez {
  width: 640px;
  height: 10px; }

.menu-txt {
  font-family: "Amatic SC", cursive;
  font-size: 1.5em; }

.menu-desc {
  margin: 0;
  font-family: "Amatic SC", cursive;
  font-size: 1.5em; }
