@import "styles/vendor/bourbon/bourbon";
@import "styles/vendor/neat/neat";


@import url(http://weloveiconfonts.com/api/?family=zocial);
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif; }

$logoFont:'Amatic SC', cursive;
$mediumOrange: #BD5430 ;
$lightOrange: #FD7140 ;
$darkOrange: #7F381B ;
$reallyDarkOrange: #3F1B0E ;
$tan: #E7D0AB;


*{
  @include outer-container();
}

body {
  background-color: $darkOrange;
}


aside{
  @include span-columns(3);
  background-color: $lightOrange;
  display: block;
  height: 1000px;
  border: 1px solid black;
  border-radius: 5px;
  float: left;
  width: 175px;
}

.news{
  background-color: grey;
  font-size: 12px;
  height: 156px;
  width: 160px;


}
.special{
  background-color: beige;
  // height: 156px;
  // width: 160px;
  font-size: 12px;
}

.gmap{
  width: 100%;
  background-color: lightgrey;

  }
.locinfo{
  font-size: 10px;
}
.locph{
  font-size: 10px;
}

.wrapper{
  @include span-columns(9);
  height: 100px;
}

header {
  width: 100%;
  height: 162px;
  background-color: $mediumOrange;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
}

.logo {
  font-family: $logoFont;
  color: black;
  // border-top: 1px solid black;
  margin-top: 33px;


  ul {
    list-style: none;
    display: inline;
  }

  li {
    display: inline-flex;
  }

  .textA {
  font-size: 3.4em;
  margin-right: 8px;
  }

  .textReally {
    font-size: 2.8em;
    border-top: 1px solid black;
    margin-right: 8px;
  }

  .textTrendy {
    font-size: 2.4em;
    border-top: 1px solid black;
    margin-right: 8px;
  }

  .textRestaurant {
    font-size: 2em;
    border-top: 1px solid black;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

.zocial-twitter {
  font-size: 30px;
  border-right: 3px solid black;
  background-color: lightskyblue;
  border: 3px solid black;
  width: 4%;
  height: 45px;
  margin-right: 2px;
}


.zocial-instagram {
  font-size: 30px;
  border: 3px solid black;
  margin-top: 2px;
  background-color: #663300;
  padding-right: 4px;
  padding-left: 3px;
  margin: 0;
  height:46px;
}


.zocial-facebook {
  font-size: 30px;
  width: 47px;
  border: 3px solid black;
  margin-top: 2px;
  background-color: #3b5998;
  padding-right: 4px;
  padding-left: 3px;
  margin: 0;
}



.tabs{
  width: 63%;
  height: 200px;
  background-color: $lightOrange;
  margin: 1px;
  display: inline-block;
  float: left;
}




// outer tabs style
.tabBoxWrapper{
  width: 100%;
  height: 600px;
  background-color: $reallyDarkOrange;
  margin: 1px;
  display: block;
  float: left;

  .tabBox {
  list-style-type: none;
  margin: 30px 0 0 0;
  padding: 0 0 0.3em 0;
  display: block;
  width: 100%;
  height: 22px;
  }

  .tabBox::after{
    display: none;
  }
  .tabBtns {
    display: inline-block;
    width: auto;
    margin: 0.25px;
  }

  .tabTitle {
    text-decoration: none;
    color: #42454a;
    background-color: $lightOrange;
    border: solid 1px black;
    border-bottom: none;
    padding: 0.3em;
    width:100%;
  }

  .tabTitle:hover {
    background-color: $darkOrange;
  }

  .selected {
    color: black;
    background-color: $lightOrange;
    font-weight: bold;
    padding: 0.7em 0.3em 0.38em 0.3em;
  }

  .tabContent {
    border: 1px solid black;
    padding: 0.5em;
    background-color: $lightOrange;
    width: 100%;
    height: 500px;
    margin-left: 10px;
  }

  .hide {
    display: none;
  }
}
// end outer tabs

// inner (menu) tabs style
.innerTabsWrapper{
  width: 570px;
  height: 500px;
}

.menuTabBox{
  display: block;
  margin-top: 0;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  width: 135px;
  height: auto;
  float: left;
}

.menuButtons{
  display: block;
  margin: 3px 0 3px 0;
  background-color: $mediumOrange;
  padding: 4px 0 3px 0;
  border-left: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.menuButtons:hover{
  background-color: $reallyDarkOrange;
}

.menuTabTitle{
  color: #E1E3DF;
  text-decoration: none;
  width: 115px;
  height: 30px;
  display: block;
}

.sel {
  background-color: $mediumOrange;
  padding: 4px 0 5px 2px;
  font-weight: bold;
}

.menuContent{
  display: inline-block;
  clear: both;
  float: middle;
  width: 400px;
  height: 500px;
  background-color: $mediumOrange;
  margin-top: 3px;
  border-top: solid 1px black;
}

.menuHide{
  display: none;
}
// end inner tabs style
